@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-delay1 {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

@keyframes bounce-delay2 {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

@keyframes bounce-delay3 {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

.animate-bounce-delay1 {
  animation: bounce-delay1 1.2s infinite;
}

.animate-bounce-delay2 {
  animation: bounce-delay2 1.2s infinite 0.2s; /* فرق 0.2s */
}

.animate-bounce-delay3 {
  animation: bounce-delay3 1.2s infinite 0.4s; /* فرق 0.4s */
}
